
.link {
    border-radius: 20%;
    display: inline;
    padding-right: 20px; 
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline:rgb(209, 185, 185);
    /* line-break: ; */
    text-align: center;
    bottom: auto;
    background-color: rgb(209, 185, 185);
    color: black;
}
#image{
    width: 30%;
    height:18%;
    margin-right: 290px;
}
nav{
margin-left: 30%;
}
.link:hover {
    background-color: grey;
    background-size: auto;
    color: white;
}
#link1{
    margin-left: 460px;
}
h3{
    font-size: smaller;
    margin-right: 0%;
}
.links {
    top: 0%;
    right: 0%;
    left: 0%;
    /* height: 20%; */
    /* padding: 0% 18%; */
    position: fixed;
    display: inline;
    background-color: antiquewhite;
    /* justify-content: center; */
}

/* h1 {
    /* text-align: center; 
} */

body {
    background-color:rgb(233, 206, 206);
    
}

#body-container .body{
    /* text-align: center; */
    /* margin-left: 10%;
    margin-right: 10%; */
    margin-top: 0%;
    width: 70%;
    
    }
    #continue{
        margin-top: 35%;  
    }
td{
    width: 50%;
}
#body-container table{
    margin-top: 5%;
    margin-left: 20%;
    padding: 5%;
}

h2 {
    padding-top: 10%;
    right: 0%;
    left: 0%;
    text-align: center;
    margin-top: 8%;
}
#create-account-btn{
    font-weight: bold;
    border-radius: 20%;
    cursor: pointer;
    font-size: x-small;
    background-color: rgb(209, 185, 185);
    outline:rgb(209, 185, 185);
    color: black;
    margin-left: 45%;
    margin-bottom: 8%;
    width: 120px;
    height: 25px;
    padding-right: 0%; 
    padding-left: 0%;
    padding-top: 1%;
    padding-bottom: 2%;
    /* padding: 5%; */
}
#create-account-btn:hover{
    background-color: grey;
    background-size: auto;
    color: white;
}
.content {
    height: 100%;
    width: 100%;
    /* background: url("../images/mic.png") no-repeat; */
    /* background-size: cover;      */
}

.ContactUs{
    margin-left: 10vw;
    width: 30%;
    line-height: 25px;
}
#footer{
    bottom: 0%;
    right: 0%;
    left: 0%;
    justify-content: center;
    background-color: antiquewhite;
    padding: 0% 18%;
    /* position: fixed; */
    flex-direction: row;
    display: flex;
}
.ComeVistUs i, .ContactUs i , .FollowUs i{
    font-weight:bold;
    font-size: 19px;
}
.ComeVistUs li, .ContactUs  li, .FollowUs li{
    list-style: none;
    margin-right: auto;
    
}
.begin{
    margin-top: 15%;
}
.FollowUs ul li img{
    width: 25px;
    height: 10px;
    left: 0%;
    
    margin-right: 8px;
    margin-top: 5px;
}
table .word{
    width: 0%;
    margin-right: 70px;
}
.beg{
    width: 40px;
    height: 25px;
    border-radius: 5px;
}
.FollowUs img{
    margin-left: 80%;
    
}
.f{
    margin-left: 40px;
}
.FollowUs i {
    margin-left: 50%;
}
.FollowUs li{
    color: black;
}
.ContactUs i{
    margin-left: 17%;
}
.ComeVistUs i{
    margin-left: 19%;
}
/* footer{
    margin-top: 95%;
} */


@media screen and (max-width: 900px){
    h2{
        padding-top: 30%;
        font-size: 20px;
        right: 0%;
        left: 0%;
        text-align: center;
        margin-top: 25%; 
    }
    .content {
        height: 100%;
        width: 100%;
        /* background: url("../images/mic.png") no-repeat;
        background-size: cover;     */
        bottom: 0px; 
    }
    body {
        background-color:rgb(233, 206, 206);
        
    }
    .ContactUs{
        margin: 0px;
        /* bottom: 0px; */
    }
    .FollowUs{
        margin: 0px;
    }
    .links{
    top: 0%;
    right: 0%;
    left: 0%;
    position: fixed;
    display: inline;
    background-color: antiquewhite;
    justify-content: center;
    }
    .ComeVistUs-element{
        padding: 0px;
    }
    .ComeVistUs{
        width: 110px;
    }
    .ContactUs-element{
        padding: 0px;
    }
    .FollowUs-element{
        padding: 0px;
    }
 }
 