#explanation{
    margin: 2% 0%;
    padding: 1%;
    width: 500px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
} 
#image{
    width: 20%;
    height:12%;
    padding: 0%
    /* margin-right:30%;  */
}
.link {
    border-radius: 20%;
    display: inline;
        padding-right: 4%; 
        padding-left: 4%;
        padding-top: 2%;
        padding-bottom: 2%;
    text-align: center;
    bottom: auto;
}
nav{
margin-left: 30%;
}
.link:hover {
    background-color: grey;
    background-size: auto;
    color: white;
}

.links {
    top: 0%;
    right: 0%;
    left: 0%;
    /* height: 20%; */
    padding: 0% 18%;
    position: fixed;
    display: inline;
    background-color: antiquewhite;
    justify-content: center;
}

h1 {
    text-align: start;
}

body {
    background-color:  rgb(233, 206, 206);
}

h2 {
    padding-top: 5%;
    right: 0%;
    left: 0%;
    /* background-image: url("../images/mic.png");
    background-size: cover; */
    text-align: center;
    margin-top: 5%;
}
#create-account-btn{
    font-weight: bold;
    border-radius: 25%;
    cursor: pointer;
    background-color: antiquewhite;
    background-image: url("../images/mic.png");
}
#create-account-btn:hover{
    color: white;
    background-color: antiquewhite;
    width: 120px;
    height: 25px;
}
.content {
    height: 100%;
    width: 100%;
}

.ContactUs{
    margin-left: 10vw;
    width: 30%;
    line-height: 25px;
}
#footer{
    
    justify-content: center;
    flex-direction: row;
    display: flex;
}
.ComeVistUs i, .ContactUs i , .FollowUs i{
    font-weight:bold;
    font-size: 19px;
}
.ComeVistUs li, .ContactUs  li, .FollowUs li{
    list-style: none;
    margin-right: auto;
}
.FollowUs ul li img{
    width: 23px;
    height: 23px;
    border-radius: 5px;
}
@media screen and (max-width: 900px){
    body{
     size: 360px 640px;   
    }
    .links {
        top: 0%;
        right: 0%;
        left: 0%;
        padding: 0% 8%;
        position: fixed;
        display: inline-table;
        background-color: antiquewhite;
        /* justify-content: center; */
    }
    h1{
        font-size: small;
        right: 0%;
    }
    h2 {
        padding-top: 30%;
        right: 0%;
        left: 0%;
        display: inline-flexbox;
        font-size: smaller;
        background-image: url("../images/mic.png");
        background-size: cover;
        text-align: center;
        margin-top: 10%;
    }
    #explanation{
        width: 60%;
    }
    
}