
.form {
    margin: 2% 10%;
    padding: 1%;
    /* text-align: center; */
    font-size: 20px;
    border-radius: 10px;
    /* color: gray; */
}
#image{
    width: 20%;
    height:18%;
    margin-left: 40%;
}
.form1 {
    margin: 2% 10%;
    padding: 1%;
    /* text-align: center; */
    font-size: 20px;
    border-radius: 10px;
    color: gray;
}

.button {
    background-color: rgb(209, 185, 185);
    outline:rgb(209, 185, 185);
    height: 50px;
    width: 120px;
    border-radius: 15%;
    margin-top: 5%;
    margin-left: 40%;
    margin-right: 50%;
}

.allform {
    display: flex;
    flex-direction: column;
    padding: 1%;
    border-radius: 10%;
    margin: 70px auto;
    width: 600px;
    background-color: antiquewhite;
    animation: moveInBottom 3s ease-out;
    /* border-color: black;
    border-style: solid; */
}
table{
    margin-left: 20%;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body {
    background-color: rgb(233, 206, 206);
}
#combo{
    margin-top: 0%;
}
@media screen and (max-width: 900px){
    .allform {
        display: flex;
        flex-direction: column;
        padding: 1%;
        border-radius: 10%;
        margin: 150px auto;
        width: 300px;
        background-color: blue;
        animation: moveInBottom 3s ease-out;
    }
}