.nav {
    border-radius: 20%;
    display: inline;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    bottom: auto;
    
    background-color: rgb(209, 185, 185);
    color: black;
}
#image{
    width: 10%;
    height:12%;
    bottom: 0%;
    /* margin-left: 40%; */
    right:70%;
    /* padding-left: 4%;
    padding-top: 2%; */
    align-items: flex-end;
    /* justify-items: center; */
    /* margin-top:%  */
}
#nav1{
    margin-left: 10%;
}

.nav:hover {
    background-color: grey;
    background-size: auto;
    color: white;
}

.nav-header {
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 70%;
    /* height: 20%; */
    padding: 0% auto;
    position: fixed;
    display: inline;
    background-color: antiquewhite;
    justify-content: center;
}

h1 {
    /*text-align: center;  */
    font-size: 30px;
}

body {
    background-color: rgb(233, 206, 206);
}
#votebtn{
    border-radius: 20%;
    display: inline;
    padding-right: 4%;
    padding-left: 4%;
    margin-left: 20%;
    margin-top:5%;
    padding-bottom: 2%;
    text-align: center;
    bottom: auto;
    background-color: rgb(209, 185, 185);
    color: black;
}
#vote-form{
    display: none;
    flex-direction: column;
    padding: 1%;
    border-radius: 10%;
    margin: 150px auto;
    margin-top: 17%;
    width: 600px;
    background-color: antiquewhite;
    
}
#viewpol-form{
    display: none;
    flex-direction: column;
    padding: 1%;
    border-radius: 10%;
    margin: 150px auto;
    margin-top: 17%;
    width: 600px;
    background-color: antiquewhite;
}
#viewpol-form table{
    margin-left: 20%;
    margin: 2% 10%;
    padding: 1%;
    /* text-align: center; */
    font-size: 20px;
    border-radius: 10px;
}
#vote-form table{
    margin-left: 20%;
    margin: 2% 10%;
    padding: 1%;
    /* text-align: center; */
    font-size: 20px;
    border-radius: 10px;
}
.close{
top: 41%;
right: 52%;
position: absolute;
font-size: 40px;
cursor: pointer;
font-weight: bold;
}
.close:hover{
color:white;
background-color: red;
justify-content: center;
align-items: center;
width: 2%;
}
#viewpart-form{
    display: none;
    flex-direction: column;
    padding: 1%;
    border-radius: 10%;
    margin: 150px auto;
    margin-top: 17%;
    width: 600px;
    background-color: antiquewhite;
    cursor: pointer;
    /* text-align: center; */
    /* animation: moveInBottom 3s ease-out; */
}
#viewpart-form table{
    margin-left: 40%;
    font-size: large;
}

@media screen and (max-width: 900px){
        #vote-form{
            background-color:gray;
            
            margin-top: 100%;
            margin-bottom: 0px;
            margin-left: 0%;
            margin-right: 500px;
            width: 250px;
            display:none;
        }
    #viewpol-form{
        background-color:gray;
            
        margin-top: 100%;
        margin-bottom: 0px;
        margin-left: 0%;
        margin-right: 500px;
        width: 250px;
        display:none;
    }
    #viewpart-form{
        background-color:gray;
            
        margin-top: 100%;
        margin-bottom: 0px;
        margin-left: 0%;
        margin-right: 500px;
        width: 250px;
        display:none;
        }
        .close{
            top: 52%;
            right: 30%;
            position: absolute;
            font-size: 40px;
            cursor: pointer;
            font-weight: bold;
            }
            .close:hover{
                color:white;
                background-color: red;
                justify-content: center;
                align-items: center;
                width: 2%;
                }
}